@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     
    <select class="form-control"  >   
      <option value="a" > A  </option>
      <option value="b"> B  </option>
        <option value="c"> C  </option>
        <option value="d"> D  </option>
    </select>

     
 @*    <select class="form-control" asp-items="Html.GetEnumSelectList<>()" >
    <option value="value">text</option> 
 </select>  *@
  


   
    

</iv>
